.single {
  .single-product-wp {
    margin-top: 80px;
    margin-bottom: 50px;
    .product {
      .onsale {
        height: 35px;
        width: 35px;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .summary {
        .product_title {
          @media (max-width: 414px) {
            font-size: 24px;
          }
          @media (min-width: 992px) {
            font-size: 33px;
          }
        }
        .price {
          ins bdi,
          bdi {
            color: #fff;
            background: #f9ed24;
            padding: 7px 15px;
            max-width: 80px;
            border-radius: 10px;
            font-weight: 700;

            font-size: 18px;
          }
          del bdi {
            // font-size: 10px;
            font-weight: 1em;
            text-decoration-line: line-through;
            text-decoration-color: rgb(114, 114, 114);
            position: relative;

            color: #888;
            background: none;
          }
        }
      }

      .cart {
        .quantity input {
          height: 50px;
        }
        .single_add_to_cart_button {
          margin-left: 15px;
          display: inline-block;
          background: $main-color;
          color: #fff;
          border-radius: 10px;
          padding: 0 25px;
          height: 50px;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;

          &:hover {
            background: $main-hover;
            color: #fff;
          }
        }
      }
      .product_meta {
        .posted_in {
          font-weight: bold;
          a {
            color: #f9bc38;
          }
        }
      }
    }
  }
}
.related-products-wrapper {
  ul {
    li {
      margin-bottom: 14px !important;
      & :hover {
        a {
          color: #000;
        }
      }
      .item-product {
        position: relative;
        text-align: center;
        background-color: #ddffd3;
        padding: 10px !important;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
          0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
          0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
          0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        .onsale {
          height: 35px;
          width: 35px;
          font-size: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 22% !important;
          right: 5% !important;
          left: auto;
        }
        .woocommerce-loop-product {
          &__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: green;
            text-transform: uppercase;
            font-size: 1rem;
          }
          &__infor {
            position: relative;
            a:first-child {
              margin-top: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex-basis: calc(100% / 3);
            }
            .product__description {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* number of lines to show */
              -webkit-box-orient: vertical;
              height: 45px;
            }
            img {
              height: 160px !important;
              border-radius: 10px;
              width: 100% !important;
            }
            &-text {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 0;
              .product__description {
                display: none;
              }
              .star-rating {
                position: absolute;
                top: 73%;
              }
              .price {
                margin-top: 25px;
                height: 25px;
                ins bdi,
                bdi {
                  font-size: 16px;
                  color: #000;
                  font-weight: 500;
                }
                del bdi {
                  // font-size: 10px;
                  font-weight: normal;
                  text-decoration-line: line-through;
                  text-decoration-color: rgb(114, 114, 114);
                  position: relative;
                  &::after {
                    content: "/";
                  }
                }
              }
              .button {
                border: 2px solid $main-color;
                border-radius: 10px;
                color: $main-color;
                background-color: white;
                padding: 0;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                margin: 0;
                &:hover {
                  color: white;
                  background-color: $main-color;
                }
              }
              .added_to_cart {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .single {
    .product {
      .summary {
        .product_title {
          font-size: 21px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .related-products-wrapper {
    ul {
      li {
        width: calc(100% / 2) !important;
        margin: 0 !important;
        margin-bottom: 0 !important;
        padding: 10px !important;
        .item-product {
          .onsale {
            top: 0 !important;
            right: 0 !important;
          }
          .woocommerce-loop-product {
            &__title {
              font-size: 1.2rem;
            }
            &__infor {
              display: flex;
              justify-content: space-between;
              a:first-child {
                margin-bottom: 0;
                img {
                  margin-bottom: 0;
                }
              }
              .product__description {
                display: none;
              }
              img {
                height: 160px !important;
                border-radius: 10px;
              }
              &-text {
                width: 60%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .product__description {
                  display: block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; /* number of lines to show */
                  -webkit-box-orient: vertical;
                  height: 45px;
                }
                .star-rating {
                  top: 46%;
                }
                .price {
                  margin-top: 30px;
                  margin-bottom: 5px;
                  ins bdi,
                  bdi {
                    font-size: 16px;
                  }
                  del bdi {
                  }
                }
                .button {
                  font-size: 16px;
                  flex-basis: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .related-products-wrapper ul li {
    width: calc(100% / 3) !important;
  }
}
.woocommerce div.product form.cart {
  display: inline-flex;
  div.quantity {
    float: none;
    margin: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .plus {
    border-radius: 0;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .minus {
    border-radius: 0;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .single_add_to_cart_button {
    margin-left: 20px;
  }
}
