.woocommerce-pagination {
  .page-numbers {
    li {
      width: 36px;
      height: 36px;
      .page-numbers {
        padding: 0;
        line-height: 36px;
        color: #333;
        &.current {
          background: $yellow-color;
          color: #333;
          line-height: 37px;
        }
      }
    }
  }
}
.woocommerce input[type="email"],
.woocommerce input[type="date"],
.woocommerce input[type="search"],
.woocommerce input[type="number"],
.woocommerce input[type="text"],
.woocommerce input[type="tel"],
.woocommerce input[type="url"],
.woocommerce input[type="password"],
.woocommerce textarea,
.woocommerce select,
.woocommerce .select-resize-ghost,
.woocommerce .select2-container .select2-choice,
.woocommerce .select2-container .select2-selection {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0 0.75em;
  height: 2.507em;
  font-size: 0.97em;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01);
  transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
}
.woocommerce-cart-form {
  .shop_table {
    border: none !important;
    tbody {
      .woocommerce-cart-form__cart-item {
        padding: 10px 0px 10px 0px;
        .product-remove {
          a.remove {
            text-indent: -9999px;
            background-image: url(../images/fa-solid_trash-alt.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 15px;
            height: 15px;
            border-radius: 0px;
            background-color: none;
            &:hover {
              background: none;
              background-image: url(../images/fa-solid_trash-alt.png);
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
        .product-name {
          a {
            color: black;
          }
        }
        .product-price {
          span {
            color: black;
            font-weight: bold;
          }
        }

        .product-subtotal {
          span {
            font-weight: bold;
            color: black;
          }
        }
      }
      .actions {
        button[name="update_cart"] {
          background: #a5102e;
          color: white;
          border-radius: 25px;
          &:hover {
            background: #333;
            color: #fff;
          }
        }
        .coupon {
          .input-text {
            width: 150px;
            border-radius: 25px 0px 0px 25px;
            height: 40px;
            margin: 0 !important;
            padding-left: 25px !important;
          }
          button[name="apply_coupon"] {
            background: #a5102e;
            color: white;
            border-radius: 0px 25px 25px 0px;
            height: 40px;

            &:hover {
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }
    thead {
      display: none;
    }
  }
}
.cart-collaterals {
  .cart_totals {
    h2 {
      text-transform: uppercase;
    }
    .wc-proceed-to-checkout {
      a {
        @extend.btn-main;
        width: 100%;
      }
    }
  }
}
.cart-empty {
  border-top-color: #333;
  &::before {
    color: $red-color;
  }
}
.return-to-shop {
  .wc-backward {
    background: #a5102e !important;
    color: white !important;
    &:hover {
      background: #333 !important;
      color: #fff !important;
    }
  }
}
.woocommerce-message {
  border-top-color: #333;
  &::before {
    color: $red-color;
  }
  a {
    color: $red-color;
  }
}
@media (max-width: 320px) {
  .woocommerce-cart-form {
    .shop_table {
      tbody {
        .actions {
          .coupon {
            .input-text {
              position: relative;
              left: 12px;
            }
            button[name="apply_coupon"] {
              font-size: 15.5px;
              padding: 11px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .woocommerce-cart-form {
    .shop_table {
      tbody {
        .actions {
          .coupon {
            .input-text {
              position: relative;
              width: 162px !important;
            }
            button[name="apply_coupon"] {
              font-size: 15.5px;
              padding: 11px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 361px) and (max-width: 375.99px) {
  .woocommerce-cart-form {
    .shop_table {
      tbody {
        .actions {
          .coupon {
            .input-text {
              position: relative;
              width: 170px !important;
              padding: 5px;
            }
            // button[name="apply_coupon"] {
            //     font-size: 15.5px;
            //     padding: 11px;
            // }
          }
        }
      }
    }
  }
}
@media (min-width: 376px) and (max-width: 414.99px) {
  .woocommerce-cart-form {
    .shop_table {
      tbody {
        .actions {
          .coupon {
            .input-text {
              position: relative;
              width: 190px !important;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .woocommerce-cart-form {
    .shop_table {
      tbody {
        .actions {
          .coupon {
            .input-text {
              position: relative;
              width: 349.4px !important;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
